#root {
  display: flex;
  flex: 1 1 100%;
  min-width: 100vw;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.App {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  justify-content: center;
}

.cat-explorer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5em;
}

.attributes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 60%;
  margin: 1em;
}

.attribute {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 0;
  background-color: lightblue;
  margin: 5px 5px;
  border-radius: 5px;
  padding: 1em;
}

.attribute.bannable:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition-duration: 500ms;
  transition-property: box-shadow;
  background-color: darkred;
  color: white;
  transition-duration: 500ms;
  transition-property: background-color;
  cursor: pointer;
}

.attribute.description {
  flex: 1 1 100%;
  background-color: beige;
}

.attribute-value {
  align-items: self-start;
  width: auto;
  padding: 5px;
}

.cat-image {
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  margin: 5px;
}
